.nav_links{
    position: fixed;
    top: 50vh;
    right: 10vh;
    font-style: italic;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.nav_links ul{
    padding: 0;
}

.nav_links a{
    color:#49BEAA;
    font-weight: bolder;
    text-decoration: none;
}

.nav_links a:hover{
    color: #F6F0ED;
    cursor: pointer;
}

@media screen and (max-width: 820px){
    .nav_links{
        right: 2vh;
    }
}

@media screen and (max-width: 300px){
    .nav_links{
        display: none;
    }
}