.footer{
    padding-left: 15%;
    padding-right: 25%;
}

.copyright-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.copyright-footer p {
    margin: 0;
}

@media (max-width: 1519px) {
    .footer{
        padding-left: 5%;
        padding-right: 30%;
    }
}