.experience{
    color: #F6F0ED;
    padding-left: 15%;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.exp::after{
    content: "";
    height: 2px;
    width: 21%;
    background-color: #F6F0ED;
    display: block;
}

#one:checked ~ .accordian-tab-group #one-tab,
#two:checked ~ .accordian-tab-group #two-tab{
    background: #474747;
    color:#49bea4;
}


.accordian-tab-wrapper{
    margin-top: 3rem;
    display: flex;
    gap: 40px;
}

.accordian-tab-wrapper input[type='radio']{
    display: none;
}

.accordian-tab-group{
    border-right: 3px solid #1312121e;
}

.accordian-tab-group .tab{
    cursor: pointer;
    padding: 10px 20px;
    margin: 8px 2px;
    width: 60%;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0.5rem 0.8rem #4e4e4e1e;
    text-align: center;
}

.accordian-tab-group .tab:hover{
    background: #838383;
}

.accordian-tab-title{
    font-size: 25px;
    margin-bottom: 0.5rem;
    color:#49bea4;
}

.accordian-tab-content h4{
    color:#838383;
}

.accordian-tab-content{
    font-size: 20px;
}

.accordian-tab-contents{
    max-width: 800px;
}

.accordian-tab-contents .accordian-tab-content{
    display: none;
    animation: slide-up 0.3s ease forwards;
}

.accordian-tab-description li{
    list-style: none;
    padding: 8px 0;
}

.accordian-tab-description li:before{
    content: "\25B9";
    color: #49bea4;;
}

#one:checked ~ .accordian-tab-contents
#one-tab-content,
#two:checked ~ .accordian-tab-contents
#two-tab-content{
    display: block;
}

.accordion-tab-indicator{
    position: flex;
    width: 4px;
    height: 50px;
    background: #49bea4;
    transition: all 200ms ease-in-out;
}

#one:checked ~ .accordion-tab-indicator{
    transform: translateY(10%);
}

#two:checked ~ .accordion-tab-indicator{
    transform: translateY(160%);
}

@keyframes slide-up {
    from {
        transform: translateY(30%);
    }
    to {
        transform: translateY(0);
    }
}

@media screen and (max-width: 1530px){
    .experience{
        padding-right: 30%;
    }

    #one:checked ~ .accordion-tab-indicator{
        transform: translateY(110%);
    }

    #two:checked ~ .accordion-tab-indicator{
        transform: translateY(235%);
    }

    .accordian-tab-group{
        padding-left: 10%;
        border-right: none;
        border-bottom: 3px solid #1312121e;
        padding-bottom: 5%;
    }

    .accordian-tab-wrapper{
        display: inline;
    }
}

@media screen and (max-width: 820px){
    .experience{
        padding-left: 5%;
        padding-right: 30%;
    }

    #one:checked ~ .accordion-tab-indicator{
        transform: translateY(110%);
    }

    #two:checked ~ .accordion-tab-indicator{
        transform: translateY(235%);
    }

    .accordian-tab-group{
        padding-left: 10%;
        border-right: none;
        border-bottom: 3px solid #1312121e;
        padding-bottom: 5%;
    }

    .accordian-tab-content{
        margin-top: 5%;
    }

    .accordian-tab-wrapper{
        display: inline;
    }
}

@media screen and (max-width: 300px){
    .experience{
        padding-right: 5%;
    }
}